<style>
  button[value="red"] {
    color: red;
  }
  button[value="green"] {
    color: green;
  }
</style>

<button value="red">Insert red</button>
<button value="green">Insert green</button>
<input type="text" name="output" />